.nav_logo {
    position: fixed;
    left: 0;
    margin: 0 100px;
    display: flex;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
 
}

.header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    justify-content: flex-end;
    padding: 20px 100px;
    height: 100px;
    display: flex;
    z-index: 2;
    height: 30px;
}

.nav {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    height: 30px; 
    transform: translateX(135px);
}

.toggle_btn {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 20px;
    cursor: pointer;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    list-style: none;
    display: inline-block;
}

.nav ul li a,
.dropdown_links {
    text-decoration: none;
    color: white;
    margin-left: 80px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease;
}

.nav ul li a:hover,
.nav ul li a:focus,
.nav ul li a.active {
    border-bottom: 2px solid white;
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    right: 10px;
    height: 0;
    top: 50px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    justify-content: center; 
    align-items: center; 
}

.dropdown li {
    padding: 0.7em;
    display: flex;
}

.dropdown.open {
    height: 190px;
    display: flex;
    flex-direction: column;
}

/* Responsive styles */
@media (max-width: 911px) {
    .dropdown {
        width: 260px;
    }
    
    .nav ul {
        display: none;
    }
    
    .toggle_btn {
        display: block;
    }
    
    .dropdown {
        display: block;
    }
}

@media (max-width: 650px) {
    .dropdown {
        left: 2em;
        width: unset;
    }
}

@media screen and (max-width: 678px) {
    .dropdown_links {
        font-size: 15px;
    }
}